<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024010468189-bcb1tdk6blvmh9kjm6gm1qgis6kljqad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024010468189-bcb1tdk6blvmh9kjm6gm1qgis6kljqad</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1024010468189-j73cqfp5ddkpb35hc14m8j3efbc0np2o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA43c2R4Ce98pPSMiv2uCMnH_5mo3pXfE4</string>
	<key>GCM_SENDER_ID</key>
	<string>1024010468189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-e849a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-e849a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024010468189:ios:b6118bf9c87f4d6ed9c6b4</string>
</dict>
</plist>